{% extends 'index.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="mb-4">Contact Us</h1>
            
            <div class="row">
                <div class="col-md-6">
                    <h3>Get in Touch</h3>
                    <p>We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
                    
                    <h4>Contact Information</h4>
                    <ul class="list-unstyled">
                        <li><strong>Email:</strong> info@smartcredit.com</li>
                        <li><strong>Phone:</strong> +359 811 111 111</li>
                        <li><strong>Address:</strong> <br> blvd. St. Kliment Ohritski 8,
                            Sofia, 1700, Bulgaria</li>
                    </ul>
                </div>
                
                <div class="col-md-6">
                    <h4>Business Hours</h4>
                    <ul class="list-unstyled">
                        <li><strong>Monday - Friday:</strong> 9:00 AM - 6:00 PM</li>
                        <li><strong>Saturday:</strong> 10:00 AM - 4:00 PM</li>
                        <li><strong>Sunday:</strong> Closed</li>
                    </ul>
                    
                    <h4>Support</h4>
                    <p>For technical support, please email:<br>
                    <strong>support@smartcredit.com</strong></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
